{# templates/index.html.twig #}
{% extends 'home.html.twig' %}

{% block styles %}
    <style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        .card-img-top {
            width: 100%;
            height: 200px; /* Adjust the height as needed */
            object-fit: cover;
        }


    </style>
{% endblock %}

{% block body %}
    <!-- Your HTML code here -->

    <!-- Updated Story -->
    <div>
        <div class="row mt-3 ">
            <div class="col-6" style="font-size: 20px;">Danh sách truyện</div>
            <div class="col-6 d-flex justify-content-end">
                <a href="./listcapnhat/listcapnhat.html">Xem thêm >></a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for truyen in truyen %}
                    <div class="col-md-3">
                        <a href="{{ path('details_show',{'id': truyen.getid}) }}">
                            <div class="card mb-3">
                                <img src="{{ asset('hinhanh/' ~ truyen.getHinhanh()) }}" alt="{{ truyen.getTentruyen }}"
                                     class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ truyen.getTentruyen }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
